body{
    padding: 0px;
    margin: 0px;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    background-color: rgba(10,30,27);
}

.container{
    
    margin-top: -37px;
    height: 100%;
}

#header{
    text-align: center;
    background-color:rgb(20, 60, 55);
    
}

#header h2{
    font-size: 45px;
    text-transform: uppercase;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 50px;
    margin-bottom: 0px;
    color: #eee;
}

span{
    margin-top: -80px;
    text-transform: capitalize;
    font-size: 25px;
    font-style: italic;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

aside {
    float: right;
    background-color: #0a587c;
    width: min-content;
    margin-left: 30px;
    margin-right: 150px;    
}

aside header{
    text-transform: capitalize;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;    
}

aside header h3{
    color: #eee;
}

section{
    background-color: #0a587c;
    padding: 5px;
    border-bottom: solid 8px skyblue;
    width: min-content;
}

section span{
    color: #eee;
    font-family: 'Times New Roman', Times, serif;
}

article{
    padding: 25px 10px;
    background-color: #cca;
    margin: 0px 150px;
    height: min-content;    
}

article header{
    font-size: 30px;
    text-transform: uppercase;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

article p{
    line-height: 25px;
    font-size: 20px;
}

summary{
    outline: none;
    background: none;
    text-decoration: none;
    font-size: 25px;
    text-transform: capitalize;
}


img{
    height: 180px;
    width: 180px;
    margin: -5px;
}

#TA{
    position: relative;
    left: -150px;
    top: 30px;
    margin: 20px 20px;
    width: 500px;
    height: 200px;
    border-radius: 10px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    box-shadow: 2px 3px 3px rgb(24, 60, 55), -2px -3px 3px rgb(24, 60, 55);
    color: #333;
    border: none;
    outline: none;
    clear: both;
}

#qrcode{
    background-color: whitesmoke;
    position: relative;
    top: -190px;
    margin-left: auto;
    margin-right: 260px;
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border: solid 1px #333;
}

input[type="submit"]{
    position: relative;
    left: 40px;
    top: 270px;
    height: 40px;
    width: 150px;
    border-radius: 8px;
    font-size: 25px;
    outline: none;
    box-shadow: 2px 3px 3px #eff, -2px -3px -1px #eff;
    cursor: pointer;
    float: left;
    
}





.qrtext{
    margin: 50px 20px;
    width: 310px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    box-shadow: 2px 3px 3px #242, -2px -3px 3px #242;
    color: #eff;
    outline-style: none;
    background-color: #353;
    border: none;
    border-style: none;
    outline: unset;
    resize: unset;
    
}

#file{
    margin-top: 30px;
    font-size: large;
    font-weight: 500;
    cursor: pointer;
}



.qrtext{
    position: relative;
    left: -350px;
    margin-top: -10px;
    margin-left: 0px;
    width: 310px;
    height: 200px;
    border-radius: 10px;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    box-shadow: 2px 3px 3px #242, -2px -3px 3px #242;
    color: #333;
    outline-style: none;
    background-color: #eee;
    border: none;
    border-style: none;
    outline: unset;
    clear: both;
}

#QR{
    float: right;
    position: relative;
    right: 270px;
    top: 60px;
}

button{
    position: relative;
    left: 63%;
    bottom: 140px;
    margin: 0px;
    padding: 2px 35px;
    cursor: pointer;
    outline: none;
    border-radius: 6px;
    font-size: 18px;

}
footer{
    background-color: #333;
    position: fixed;
    bottom: 0px;
    width: inherit;
}

footer p{
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    text-transform: capitalize;
    color: #ccc;    
}