body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background: rgba(25, 52, 84, 1);
}

#header{
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 1px 20px black;    
}

#header h2{
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-size: 35px;
    padding: 20px 0 0;
    margin: 0px;
}

#header span{
    color: #cca;
    text-transform: capitalize;
    text-decoration: underline;
}

.container{
    
    display: flex;

}


article{
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 1px 1px 10px black, -1px -1px 10px black;
    height: fit-content;
    flex: 3;
    padding: 30px 20px;
    margin: 40px 70px 0;
    order: 1;
    border-radius: 50px;
}

article h3{
    text-transform: capitalize;
    font-size: 30px;
    margin: 0px;
}

article p{
    color: #cca;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.7rem;
}

article details summary{
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 20px;
    outline: none;
}

aside{
    flex: 1;
    order: 2;
    height: fit-content;
}

aside section{
    color: whitesmoke;
    padding: 0px 20px 5px;
    width: 200px;
}

aside section img{
    height: 200px;
    width: 200px;
}

aside header h3{
    color: #cca;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

aside section span{
    text-transform: capitalize;
    font-size: 18px;
}


a{
    color: green;
    font-size: 18px;
}


a:hover{
    transition: linear;
    color: navy;
}

.sticker{
    color: whitesmoke;
    /* background: linear-gradient(to top right, blue, yellow); */
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
    width: 100px;
    padding: 0px 10px 0;
    position: absolute;
    bottom: 0px;
    left: 0px;
    box-sizing: border-box;
    border-radius: 20px;
    cursor: pointer;
    
}

@keyframes animate{
    from {
        background-color: green;
    }

    to {
        background-color: black;
        color: white;
        border-radius: 50px;
    }
}

.sticker{
    -webkit-animation-name: animate;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    
    animation-name: animate;
    animation-duration: 1s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.sticker p{
    text-align: center;
    padding: 15px 10px 0 ;
}


footer{
    background-color: #333;
    padding: 5px 0;
}

footer p{
    text-align: center;
    text-transform: capitalize;
    color: #cca;
}